/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  background-color: rgb(245, 245, 245); /* Light Grey */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em; /* 24/16 = 1.5em */
  line-height: 1.2em; /* 28.8/ 24 = 1.2em */
}

h1 {
  background-color: rgb(220, 222, 245); /* Purple */
  display: flex;
  flex-direction: row;
  font-size: 1.5625em; /* 37.5 / 24 = 1.5625em */
  justify-content: center;
  line-height: 1.28em; /* 48 / 37.5 = 1.28em */
  padding: 0.512em; /* 19.2 / 37.5 = 0.512em */
}

h2 {
  font-size: 1.25em; /* 30 / 24 = 1.25em */
  line-height: 1.2em; /* 36 / 30 = 1.2em */
  padding: 0.64em; /* 30 / 19.2 = 0.64em */
}

h3 {
  font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  padding-bottom: 0.625em; /* 12 / 19.2 = 0.625em */
  padding-left: 1em; /* 19.2 / 19.2 = 1em */
}

h4 {
  font-size: 0.64em; /* 15.36 / 24 = 0.64em */
  font-weight: bold;
  padding-bottom: 0.78125em; /* 12 / 15.36 = 0.78125em */
  padding-left: 1.25em; /* 19.2 / 15.36 = 1.25em */
}

figcaption {
  font-size: 0.64em; /* 15.36 / 24 = 0.64em */
  font-style: italic;
  padding-bottom: 1.5625em; /* 24 / 15.36 = 1.5625em */
}

figure.image {
  text-align: center;
}

footer {
  color: rgb(84, 84, 84); /* Grey */
  font-size: 0.512em; /* 12.288 / 24 = 0.512em */
  padding-left: 1.5625em; /* 19.2 / 12.288 = 1.5625em */
}

img {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em; /* 24 / 12 = 0.5em */
}

li.active a {
  background-color: rgb(173, 155, 194); /* Light Purple */
}

nav a {
  color: black;
  display: block;
  padding: 0.8em; /* 15.36 / 19.2 = 0.8*/
  text-decoration: none;
}

nav a:hover {
  color: rgb(245, 245, 245); /* Light Grey */
  background-color: rgb(104, 71, 143); /* Dark Purple */
}

p {
  padding-bottom: 0.78125em; /*12 / 15.36 = 0.78125em */
  padding-left: 1.25em; /* 19.2 / 15.36 = 0.78125em */
}

p,
ol.repair-instructions,
ul.info {
  font-size: 0.64em; /* 15.36 / 24 = 0.64em */
}

ol.repair-instructions {
  list-style: decimal;
  padding-bottom: 1.5625em; /* 24 / 15.36 = 1.5625em*/
  padding-left: 2.5em; /* 38.4 / 15.36 = 2.5em */
  padding-top: 0.78125em; /* 12 / 15.36 = 0.78125em */
}

section.album h3 {
  padding-left: 0;
  text-align: center;
}

ul.info {
  list-style: square;
  padding-left: 2.5em; /* 38.4 / 15.36 = 2.5em */
}

ul.nav-info {
  background-color: rgb(220, 222, 245); /* Purple */
  box-shadow: 0 0.625em 0.625em -0.625em grey;
  font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  text-align: center;
}

ul.tracks {
  list-style: none;
  padding: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
}

ul.tracks h4 {
  padding: 0;
  padding-bottom: 0.5em; /* 24 / 12 = 0.5em */
}

#contact,
#employment,
#education,
#accomplishments {
  padding-bottom: 1em; /* 24 / 24 = 1em */
  padding-top: 0.5em; /* 12 / 24 = 0.5em */
}

@media screen and (min-width: 26.25em)  /* 420px = 26.25em */ {

  h3 {
    font-size: 1em; /* 24 / 24 = 1em */
    padding-bottom: 0.5em; /* 12 / 24 = 0.5em */
    padding-left: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  }

  h4 {
    font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
    padding-bottom: 0.625em; /* 12 / 19.2 = 0.625em */
    padding-left: 1em; /* 19.2 / 19.2 = 1em*/
  }

  figcaption {
    padding-bottom: 1.25em; /* 24 / 19.2 = 1.25em */
  }

  p {
    padding-bottom: 0.625em; /* 12 / 19.2 = 0.625em */
    padding-left: 1em; /* 19.2 / 19.2 = 1em*/
  }

  p,
  ul.info,
  ol.repair-instructions {
    font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  }

  ol.repair-instructions {
    padding-bottom: 1.25em; /* 24 / 19.2 = 1.25em*/
    padding-left: 2em; /* 38.4 / 19.2 = 2em */
    padding-top: 0.625em; /* 12 / 19.2 = 0.625em */
  }

  ul.info {
    padding-left: 2em; /* 38.4 / 19.2 = 2em */
  }

  ul.nav-info {
    display: flex;
    flex-direction: row;
    font-size: 1em; /* 24 / 24 = 1em */
    justify-content: space-around;
  }

}

@media screen and (min-width: 48.75em)  /* 780px = 48.75em */ {

  h1 {
    font-size: 1.953125em; /* 46.875 / 24 = 1.953125em*/
    line-height: 1.024em; /* 48 / 46.875 = 1.024em */
    padding: 0.40959999999999996em; /* 19.2 / 46.875 = 0.40959999999999996em */
  }

  h3 {
    font-size: 1em; /* 24 / 24 = 1em */
    padding-bottom: 0.5em; /* 12 / 24 = 0.5em */
    padding-left: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  }

  h4 {
    font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
    padding-bottom: 0.625em; /* 12 / 19.2 = 0.625em */
    padding-left: 1em; /* 19.2 / 19.2 = 1em*/
  }

  figcaption {
    padding-bottom: 1.25em; /* 24 / 19.2 = 1.25em */
  }

  figcaption,
  p,
  ul.info,
  ol.repair-instructions {
    font-size: 0.7999999999999999em; /* 19.2 / 24 = 0.7999999999999999em*/
  }

  footer {
    font-size: 0.64em; /* 15.36 / 24 = 0.64em */
    padding-left: 1.25em; /* 19.2 / 15.36 = 1.25em */
  }

  p {
    padding-bottom: 0.625em; /* 12 / 19.2 = 0.625em */
    padding-left: 1em; /* 19.2 / 19.2 = 1em*/
  }

  ol.repair-instructions {
    padding-bottom: 1.25em; /* 24 / 19.2 = 1.25em*/
    padding-left: 2em; /* 38.4 / 19.2 = 2em */
    padding-top: 0.625em; /* 12 / 19.2 = 0.625em */
  }

  ul.info {
    padding-left: 2em; /* 38.4 / 19.2 = 2em */
  }

  ul.nav-info {
    display: flex;
    flex-direction: row;
    font-size: 1.25em; /* 30 / 24 = 1.25em */
    justify-content: center;
    line-height: 1.2em; /* 36 / 30 = 1.2em */
  }

  ul.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #chromebook {
    text-align: center;
  }

  #employment,
  #education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #asm,
  #lindblom {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #cte,
  #iit {
    grid-column-start: 2;
    grid-row-start: 2;
  }

}
